<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
<div layout:fragment="content">
	<div id="posts" class="span-15 prepend-1 append-bottom">
		<div th:each="p : ${posts}" th:include="fragments/tweet :: tweet"  class="post">
		
		</div>
	</div>
	<div th:if="${moreposts}" class="span-2 box" align="center">
	   <a th:href="@{/(page=${page})" th:text="#{more}"></a>
	</div>
</div>
</body>
</html>