<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
</head>
<body>
<div layout:fragment="content">
	<div th:replace="fragments/post">
		new post widget
	</div>
	
	<div class="span-24 prepend-1 last">
	  <h2 class="alt" th:text="#{timeline}">Time Line</h2>
	</div>
	<div class="span-15 prepend-1">
	  <span th:text="#{all.posts}">Post from all users</span>
	</div>
	<br/>
	<div id="posts" class="span-15 prepend-1 append-bottom">
		<div th:each="p : ${posts}" th:include="fragments/tweet :: tweet"  class="post">
		
		</div>
	</div>
</div>
</body>
</html>