
a {
  text-decoration: none;
  color: #0c0;
}

a:visited {
  color: green;
}

.right-align {
  text-align: right;
}

body {
  font-size: 100%;
}

.footer {
  font-size: 85%;
}

.container {
}


#updateform {
  background: #0c0;
  margin: 5px;
}

.rightcolumn {
 
}

.box {
  padding: 7px;
  margin: 5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  background: #0c0;
}

textarea {
  height: 5em;
  width: 500px;
}
#posts {
  margin: 5px;
  padding: 5px;
}

#posts .date {
  font-size: 75%;
  color: #909;
}

#posts hr {
  margin: 0;
}

#posts .post {
  border-top: 1px dashed #0c0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-list li {
  list-style: none;
}

tbody tr:nth-child(even) td, tbody tr.even td {background:#0c0;}